	body {
		font-size: 16px;
		color: #fff;
		background-color: #61122f;
		font-family: 'Oxygen', sans-serif;
	}

	.active {
		background-color: white;
		border-radius: 10px;
	}

/*HEADER START*/
	#header-nav{
		background-color: #f6b319;
		border-radius: 0;
		border: 0;
		align-items: flex-start;
	}

	/*Formatting for logo and restaurant name.*/
	#name-logo{
		align-items: left!important;
		justify-content: flex-start;
	}

	.navbar-brand span.kosher{
		color: #000;
		text-transform: uppercase;
		font-size: .7em;
		margin-top: 15px;
	}

	#logo-img{
		background: url(../images/restaurant-logo_large.png) no-repeat;
		width: 150px;
		height: 150px;
		margin: 10px 0px 10px 0px;
	}

	.navbar-brand {
		padding-top: 10px;
	}

	/* Special workaround for restaurant title; need to overwrite Bootstrap CSS's styling for anchors */
	a.restaurant_Name {
	    color: #557c3e;
	    text-decoration: none; /*Disables unlines.*/
	}

	div.restaurant_Name{
		margin-top: 10px;
	}

	.navbar-brand h1{
		font-family: 'Lora', serif;
		font-size: 1.5em;
		text-transform: uppercase;
		font-weight: bold;
		text-shadow: 1px 1px 1px #222;
		padding: 0;
		margin: 0;
		line-height: 0.75;
	}

	/*Formatting for the menu toggler*/
	.menuButton {
		margin: auto 0 auto auto;
		/*border: 1px solid black;*/
	}

	/*Changing the toggler color.*/
	.navbar-toggler-icon {
	  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(97, 18, 47, 1.0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	/*Changing the toggler border color.*/
	.navbar-toggler {
	  border: 2px solid;
	  border-color: rgb(97, 18, 47);
	} 

	/*CSS styling for the navigation menu's icons and spacing.*/
	.navMenu {
		padding: 0;
		margin: auto;
	}

	.navList{	
		margin: 0px 0px 0px auto;
	}

	.navList a {
		color: #61122f;
		text-decoration: none
	}

	/*Defines the size of icons used in on the homepage.*/
	.navList img{
		height: 28px;
		width: 28px;
		color: #61122f;
	}

	/*Defines the margins for the navigation menu buttons.*/
	.navList li{
		padding: 10px;
	}

	.navList li img{
		margin: 0px 10px 0px 0px;
	}


	/*CSS styling for the phone number*/
	.phoneNumber {
		line-height: 1.0;
		text-align: right;
	}

	/*Formatting for the phone number font*/
	.phoneNumber a{
		font-size: 1.5em;
		font-weight: bold;
	}

	/*Formatting for the "We Deliver" font*/
	.phoneNumber span {
		color: #557c3e;
		font-size: 0.75em;
		text-align: right;
		font-weight: bold;
	}
/* END OF HEADER*/

/*CONTENTS START*/
	/*CSS for main page contents.*/

	.main-content {
		padding-left: 5vw;
		padding-right: 5vw;
	}

	.main-content > div {
		margin: 30px auto 30px auto;
	}

	.main-content #telephone-number {
		margin-bottom: 0px;
		background-color: #f6b319;
		text-align: center;
		font-size: 1.75em;
		border: 3px solid #3F0C1F;
		border-radius: 20px;
		padding: 5px;
	}

	#telephone-number a {
		text-decoration: none;
		color: #b91515;
	}

	.main-content-img {
		height: 24px;
		width: 24px;
	}

/*HOMEPAGE FORMATTING*/
	#deliver-text {
		margin-top: 0px;
		font-size: 0.75em;
		text-align: center;
		text-transform: uppercase;
	}
	/*Styling for the jumbotron display.*/
	#jumbotron-container {
		border: 3px solid #3F0C1F;
		border-radius: 10px;
		background-color: #f6b319;
		padding: 2px;
		height: calc((90vw) * 0.5625);
		overflow: hidden;
		max-height: 675px;
		max-width: 1200px;
	}

	#jumbotron-container img{
		border-radius: 10px;
		height: 100%;
		width: 100%;
	}

	/*Styling for the menu tiles.*/
	#home-tiles {
		max-width: 1200px;
	}

	/*Styling for the menu tile anchor container.*/
	#home-tiles a {
		display: block;
		/*Specifying relative position because I will use absolute positioning for the span.*/
		position: relative;
		border: 3px solid #3F0C1F;

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;

		text-decoration: none;
		color: white;

		height: 20vw;
		max-width: 360px;

		min-height: 116.5px;
		max-height: 250px;
	}

	/*Adds a box shadow when hovering over the tiles for user clarity.*/
	#home-tiles a:hover {
		box-shadow: 0 1px 5px 1px #CCCCCC;
	}

	/*CSS styling for the text/overlay on each of the menu buttons.*/
	#home-tiles a span {
		position: absolute;
		bottom: 0;
		right: 0;

		padding: 5px;

		width: 100%;

		background-color: rgba(0,0,0,0.8);

		text-transform: uppercase;
		text-align: center;
	}

	#menu-tile a {
		background-image: url("../images/menu-tile.jpg");
	}

	#specials-tile a {
		background-image: url("../images/specials-tile.jpg");
	}
/**END OF HOMEPAGE**/

/**MENU CATEGORY PAGE**/
	/*CSS styling for the menu category page.*/
	.main-content h2 {
		margin: 30px auto 0 auto;
	}

	.main-content h2 + div {
		margin-top: 0px;
		font-size: 0.8em;
		
	}

	#menu-category-container > div{
		padding: 0px 10px;
	}

	#menu-category-container > div > a{
		text-decoration: none;
		color: white;
	}

	.category-tile {
		margin: 15px auto;
		border: 3px solid #3F0C1F;
		width: 100%;
		height: 80%;
		max-width: 200px;
		max-height: 200px;
		position: relative;
		overflow: hidden;
	}

	.category-tile img{
		max-width: 100%;
		height: auto;
	}

	.category-tile span{
		position: absolute;
		bottom: 0;
		right: 0;

		padding: 5px;

		width: 100%;

		background-color: rgba(0,0,0,0.8);

		text-transform: uppercase;
		text-align: center;
	}

	.category-tile:hover {
		box-shadow: 0 1px 5px 1px #CCCCCC;
	}
/**END OF MENU CATEGORIES**/

/**START OF SINGLE CATEGORY**/
	.menu-item-tile {
		margin-bottom: 30px;
	}
	.menu-items-row hr {
		border: 1px solid white;
		width: 80%;
		margin: -10px 0 30px;
	}

	.menu-item-price {
		text-align: right;
	}

	.menu-item-tile .menu-item-price span{
		font-size: 0.6em;
	}

	.menu-item-tile .menu-item-photo {
		border: 2px solid #3F0C1F;
		overflow: hidden;
		position: relative;
		max-width: 250px;
	}

	.menu-item-tile .menu-item-photo div{
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #557C3E;
		text-align: center;
		width: 100%;
		max-width: 80px;
	}

	.menu-item-description h3{
		font-size: 1.0em;
		margin: 0 0 10px;
	}

	.menu-item-description p{
		font-size: 0.9em;
		font-style: italic;
	}
/**END OF SINGLE CATEGORY**/

/**END OF CONTENTS**/

/**FOOTER START**/
	.card-footer {
		background-color: #222;
	}

	.card-footer {
		padding-top: 0;
		padding-bottom: 5vh;
	}

	.card-footer > div {
		margin: 15px auto 15px auto;
	}

	.card-footer div span{
		font-size: 1.25em;
		font-weight: bold;
	}

	.card-footer div.row {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.card-footer .row div{
		margin: 0px auto 0px auto;
	}
	
	.card-footer hr{
		border: 1px solid white;
		width: 90%;
		margin: 15px auto 15px auto;
	}

	#hours {
		line-height: 1.5;
	}

	#testimonial p {
		font-style: italic;
		margin: 0;
	}

	#testimonial p:nth-child(1){
		margin-bottom: 25px;
	}

	#address {
		line-height: 1.5;
	}

	#address p{
		font-size: 0.8em;
		color: #557C3E;
		line-height: 1.25;
	}

	#copyright {
		padding-top: 30px;
	}
/**END OF FOOTER**/

/*RESPONSIVE DESIGN*/
	/**SMALL DEVICES AND BELOW**/
	@media (max-width: 575px) {
		#map-tile {
			padding: 0;
		}
		
		#map-tile a {
			margin-top: 30px; /*Adds a margin between the two other tiles and the map tile.*/
			height: 500px;
			max-width: 100%; /*This allows the map tile to expand on small resolutions*/
		}

		.menu-item-price {
			text-align: center;
			margin: 15px 0px;
		}

		.menu-item-photo {
			margin: 0 auto;
		}

		.menu-item-description {
			text-align: center;
		}
	}

	/*Used to ensure that restaraunt name wraps properly at smaller resolutions. Set to no-wrap in default Bootstrap 4.*/
	@media (max-width: 767.98px) {
		.navbar-brand h1{
			white-space: normal; 
			line-height: 1.0;
			font-size: 1.25em;
		}

		.navbar-brand span.kosher{
			font-size: 0.55em;
		}

		#header-nav{
			padding-top: 30px;
		}


	}

	/**MEDIUM SIZED DEVICES AND ABOVE**/
	@media (min-width: 577px) {
		#home-tiles a span {
			font-size: 1.25em;
		}

		.category-tile span {
			font-size: 1.25em;
		}
	}

	/**MEDIUM SIZED DEVICES AND BELOW**/
	@media (max-width: 992px){
		/*Forces the homescreen menu to switch to a column alignment.*/
		.navList{
			flex-direction: column !important;
			text-align: center;
		}

		.navList li {
			margin: 5px 0px 5px 0px;
			padding: 0;
		}

		/*Prevents the container-fluid of #name-logo from taking up the entire width of the navbar. The menu icon won't get bumped down now.*/
		#name-logo { 
			width: 80%;
		}

		/*Reduces the size of icons in the navigation menu on smaller resolutions in column formation.*/
		.navList img{
			height: 16px;
			width: 16px;
			color: #61122f;
		}

		.card-footer .row div{
			text-align: center;
		}

	}